#model-view-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: grab;
}


#model-view-canvas {
    cursor: grab;
    cursor : -o-grab;
    cursor : -moz-grab;
    cursor : -webkit-grab;
}
#model-view-canvas * {
    cursor: grab;
    cursor : -o-grab;
    cursor : -moz-grab;
    cursor : -webkit-grab;
}
